nav{
	padding: 10px;
}
ul{
	margin-right: 10%;
}
ul > li > a:hover{
	color: #800000;
}

.show > .nav-link, .nav-link.active {
	color: #800000 !important;
}

.dropdown-menu{
	background-color: #282E3E;
}

.dropdown-menu > .dropdown-item{
	color: white !important;
}

.dropdown-menu > .dropdown-item:hover{
	background-color: transparent;
	color: red !important;
}
/*
.dropdown-menu{
    background:transparent !important;
    border:0px;
}

.dropdown-menu > .dropdown-item{
    color: white !important;
}

.dropdown-menu > .dropdown-item:hover{
    color: white !important;
    background-color: transparent;
}*/