<div class="red-bg row p-0 mr-0 ml-0">
    <div class=" col-md-12 d-lg-none black-bg toggler order-xs-1 p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class=" col-md-12 white-bg logo-row order-last order-lg-1 order-md-3 align-items-center pt-2 mr-0 ml-0">
      <div class="row align-items-stretch no-gutter">
        <div class="col-md-2">
          <span class="row justify-content-center">
            <img src="assets/images/logo.jpg" height="70px" width="160px">
          </span>
        </div>
        <div class="col-md-5 col-xs-12 d-flex align-items-center justify-content-md-end justify-content-sm-center">
          <span class="slogan ">"Basta&ensp;<span class="red-fg slogan">FAW</span>, W<img src="assets/images/wink.png" class="slogan-logo">W"</span>
        </div>
        <div class="col-md-1 d-flex justify-content-center p-2 d-none d-md-block d-lg-block">
            <div class="custom-divider align-self-stretch">&ensp;</div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end"> Enter contact number here</div>
      </div>
    </div>
    <div class=" col-md-12 nav-row order-xs-2 order-lg-2 order-md-2">
      <nav class="col-md-10 col-sm-12 offset-md-1 navbar sticky-top navbar-expand-lg navbar-dark text-white align-items-stretch red-bg p-0 ">
        <div class="collapse  justify-content-end navbar-collapse" id="navbarTogglerDemo02" >
          <ul class="navbar-nav mt-2 mt-lg-0 col align-self-start align-self-stretch">
            <li class="nav-item ">
              <a class="nav-link " routerLink="/home" routerLinkActive="active">HOME</a>
              <!-- <a class="nav-link os-animation" routerLink="/" routerLinkActive="active" data-os-animation="swing" data-os-animation-delay="0s">HOME</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active" >ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/offering" routerLinkActive="active">KEY OFFERINGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</div>