<div class="h-60 bg-darkblue">
	<div class="pt-5">
		<div class="row ml-0 mr-0 justify-content-center text-white">
			<div class="row ml-0 mr-0 col-md-10 col-12">
				<div class="col-md-4 col-12">
					<h1 class="text-left">About us</h1>
					<h4 class="pt-4 t-30 text-justify">FAW Cargo Solutions, Inc. is an SEC Registered corporation which is envisioned as an integrated logistics company.</h4>
				</div>
				<div class="col-md-4 col-12">
					<h1 class="text-left">Key Offerings</h1>
					<ul class="pt-4">
						<li><h4>Parcels</h4></li>
						<li><h4>Big Packages</h4></li>
						<li><h4>Containerized</h4></li>
					</ul>
				</div>
				<div class="col-md-4 col-12">
					<h1 class="text-center">Contact Information</h1>
					<div class="pt-4">
						<div class="row ml-0 mr-0">
					    	<h1 class="col-md-2 col-2 text-danger"><i class="fa fa-map-marker" aria-hidden="true"></i></h1>
					    	<h5 class="col-md-9 col-9">Unit 32F Pearl of the Orient Tower, Roxas Blvd., Malate, Manila</h5>
					 	</div>
			    		<div class="row ml-0 mr-0">
					    	<h1 class="col-md-2 col-2 text-danger"><i class="fa fa-phone" aria-hidden="true"></i></h1>
					    	<h5 class="col-md-9 col-9">+6393929312</h5>
					 	</div>
			    		<div class="row ml-0 mr-0">
					    	<h1 class="col-md-2 col-2 text-danger"><i class="fa fa-envelope-o" aria-hidden="true"></i></h1>
					    	<h5 class="col-md-9 col-9">info@fawcargosolutions.com</h5>
				 	 	</div>
				 	 	<div class="row ml-0 mr-0 pt-2">
				 	 		<a href="" class="text-white"><h1 class="col-md-2"><i class="fa fa-facebook-official" aria-hidden="true"></i></h1></a>
				 	 		<a href="" class="text-white"><h1 class="col-md-2"><i class="fa fa-twitter" aria-hidden="true"></i></h1></a>
				 	 		<a href="" class="text-white"><h1 class="col-md-2"><i class="fa fa-instagram" aria-hidden="true"></i></h1></a>
				 	 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-dark text-white">
    <div class="row mr-0 ml-0 align-items-center px-50">
        <div class="pl-5">
            <div >
                <h5 class="mb-0">&copy; FAW Cargo Solutions Inc. All Rights Reserved</h5>
            </div>
        </div>
    </div>
</div>