.bg-darkblue{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 3rem;
}
.px-50{
	height: 50px;
}

.bg-darkblue{
    background-color: #0A1E34;
}
.t-30{
	text-indent: 30px;
}
.title{
	font-size: 2rem;
	font-family: 'Hind', sans-serif;
}
ul{
	padding-top: 0px!important;
	padding-left: 20px;
}