<div class="h-60 bg-darkblue">
	<div class="row ml-0 mr-0 justify-content-center text-white">
		<div class="row ml-0 mr-0 col-md-10 col-12">
			<div class="col-md-4 col-12">
				<p class="text-left title">About us</p>
				<p class="t-30 pr-3">FAW Cargo Solutions, Inc. is an SEC Registered corporation which is envisioned as an integrated logistics company.</p>
			</div>
			<div class="col-md-4 col-12">
				<p class="text-left title">Key Offerings</p>
				<ul>
					<li><span>Parcels</span></li>
					<li><span>Big Packages</span></li>
					<li><span>Containerized</span></li>
				</ul>
			</div>
			<div class="col-md-4 col-12">
				<p class="text-center title">Contact Information</p>
				<div>
					<div class="row ml-0 mr-0">
				    	<span class="col-md-2 col-2 text-danger"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
				    	<span class="col-md-9 col-9">Unit 32F Pearl of the Orient Tower, Roxas Blvd., Malate, Manila</span>
				 	</div>
		    		<div class="row ml-0 mr-0">
				    	<span class="col-md-2 col-2 text-danger"><i class="fa fa-phone" aria-hidden="true"></i></span>
				    	<span class="col-md-9 col-9">+6393929312</span>
				 	</div>
		    		<div class="row ml-0 mr-0">
				    	<span class="col-md-2 col-2 text-danger"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
				    	<span class="col-md-9 col-9">info@fawcargosolutions.com</span>
			 	 	</div>
			 	 	<div class="row ml-0 mr-0 pt-2">
			 	 		<a href="" class="text-white"><span class="col-md-2"><i class="fa fa-facebook-official" aria-hidden="true"></i></span></a>
			 	 		<a href="" class="text-white"><span class="col-md-2"><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
			 	 		<a href="" class="text-white"><span class="col-md-2"><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
			 	 	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-dark text-white">
    <div class="row mr-0 ml-0 align-items-center px-50">
        <div class="pl-5">
            <div >
                <span class="mb-0">&copy; FAW Cargo Solutions Inc. All Rights Reserved</span>
            </div>
        </div>
    </div>
</div>