<div class="heading">
	<div class="text-center text-white">
		<div class="container">
		    <div class="row align-items-center h-60 justify-content-center">
		    	<div class="col-1 bg-white line"></div>
		        <div class="col-lg-6 col-8">
	                <h1 class="text-muted hind sm-hide">We deliver things</h1>
	                <h1 class="display-3 hind">Key Offerings</h1>
		        </div>
		    	<div class="col-1 bg-white line" ></div>
		    </div>
		</div>
	</div>
</div>
<div class="text-dark h-80 parcel row align-items-stretch no-gutters">
	<div class="parcel_panel row align-items-stretch no-gutters w-100">
		<div class="col-md-6 offset-md-3 col-sm-12 row align-items-center no-gutters" >
		   <div class="about-content p-3 col text-center text-white parcel_content">
	    		<span class="title">PARCEL</span>
	    		<h5>We make posting a parcel a breeze. Send one today!</h5>
	    		<h5>50% of our deliveries are parcels</h5>
	    		<div class="row ml-0 mr-0 justify-content-center pt-5">
		    		<div class="progress-radial bg-transparent progress-50 setsize">
					    <div class="overlay setsize">
					    	<p>50%</p>
					    </div>
				  	</div>
	    		</div>
		   </div>
		</div>
	</div>
</div>
<div class="h-80 align-items-stretch row ml-0 mr-0 bigPackage">
	<div class="col-md-7 text-white p-15 bigPackage_panel row no-gutters align-items-center">
		<div>
			<span class="title">BIG PACKAGE</span>
			<h5>Big package deliveries? No worries we can send it to your home safely!</h5>
			<h5>what are you waiting for? send your package now!</h5>
			<h5 class="text-center pt-2">30% of our deliveries are big packages</h5>
    		<div class="row ml-0 mr-0 justify-content-center pt-5">
	    		<div class="progress-radial bg-transparent progress-30 setsize">
				    <div class="overlay setsize">
				    	<p>30%</p>
				    </div>
			  	</div>
    		</div>
		</div>
	</div>
</div>
<div class="h-80 align-items-stretch row ml-0 mr-0  containerized">
  	<div class="col-md-6 offset-md-6 text-white row no-gutters align-items-center containerized_panel ">
  		<div>
	  		<span class="title">CONTAINERIZED OR BULK SHIPMENT</span>
	 		<h5>Having trouble transfering your container? Dont worry we can send it anywhere in the country.</h5>
			<h5 class="text-center pt-2">20% of our deliveries are containerized or bulk shipment</h5>
	 		<div class="row ml-0 mr-0 justify-content-center pt-5">
	    		<div class="progress-radial bg-transparent progress-20 setsize">
				    <div class="overlay setsize">
				    	<p>20%</p>
				    </div>
			  	</div>
    		</div>
  		</div>
  	</div>
</div>
<!-- <div class="container-fluid bg-danger h-40">
 	<div class="row justify-content-center">
	    <div class="col-10" >
		    <div class="about-content row justify-content-center p-20  text-white">

		    </div>
	    </div>
  	</div>
</div> -->