<div class="heading">
	<div class="text-center text-white">
		<div class="container">
		    <div class="row align-items-center h-60 justify-content-center">
		    	<div class="col-1 bg-white line"></div>
		        <div class="col-6">
	                <h1 class="display-3"><b>KEY OFFERINGS</b></h1>
		        </div>
		    	<div class="col-1 bg-white line" ></div>
		    </div>
		</div>
	</div>
</div>
<div class="container-fluid text-dark h-80">
 	<div class="row justify-content-center">
	    <div class="col-10" >
		    <div class="about-content row justify-content-center p-20">
		    	<div class="col-md-6 col-sm-12">
		    		<figure class="figure">
					  <img src="/assets/images/parcel.jpeg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
					</figure>
		    	</div>
		    	<div class="col-md-6 col-sm-12">
		    		<h1>PARCEL</h1>
		    	</div>
		    </div>
	    </div>
  	</div>
</div>
<div class="container-fluid bg-secondary text-dark h-80">
 	<div class="row justify-content-center">
	    <div class="col-10" >
		    <div class="about-content row justify-content-center p-20  text-white">
		    	<div class="col-md-6 col-sm-12">
		    		<h1>Big Package</h1>
		    	</div>
		    	<div class="col-md-6 col-sm-12">
		    		<figure class="figure">
					  <img src="/assets/images/big-package.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
					</figure>
		    	</div>
		    </div>
	    </div>
  	</div>
</div>
<div class="container-fluid bg-white h-80">
 	<div class="row justify-content-center">
	    <div class="col-10" >
		    <div class="about-content row justify-content-center p-20  text-dark">
		    	<div class="col-md-6 col-sm-12">
		    		<figure class="figure">
					  <img src="/assets/images/container.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
					</figure>
		    	</div>
		    	<div class="col-md-6 col-sm-12">
		    		<h1>Containerized or Bulk Shipment</h1>
		    	</div>
		    </div>
	    </div>
  	</div>
</div>
<div class="container-fluid bg-danger h-40">
 	<div class="row justify-content-center">
	    <div class="col-10" >
		    <div class="about-content row justify-content-center p-20  text-white">

		    </div>
	    </div>
  	</div>
</div>