.feedback ,.h-60{
	min-height: 60vh;
}
.hind{

    font-family: 'Hind',sans-serif;
}
.h-50{
    min-height: 50vh;
}
.h-37{
	min-height: 37vh;
}
.h-27{
    min-height: 27vh;
}

.h-15{
    min-height: 15vh;
}

.h-23{
	min-height: 23vh
}

.h-45{
    min-height: 45vh;
}
.h-50{
    min-height: 50vh;
}

.h-100{
    min-height: 100vh;
}
.h-110{
    min-height: 110vh;
}

.h-120{
    min-height: 120vh;
}

.line{
    height: 5px;
    border-radius: 2px;
}

.mx{
	margin: 5px 20px !important;
}

.about{
	color: white;
}

.heading{
	height: 60vh;
	background-image: url('/assets/images/about.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.display-3{
	font-weight: bolder !important;
}

.clear{
	height: 5vh;
}

.map{
	width: 100%;
	height: 75vh;
}

.about-us{
    background-image: url('/assets/images/shipping-container-red.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.down{
    position: relative;
    bottom: 0px;
}

.title>h1{
    font-weight: bolder;
}

.content >h4{
    text-align: justify;
    text-indent: 50px;
}
.bg-darkblue{
    background-color: #0A1E34;
}

.mission{
    background-image: url('/assets/images/mission_bg.jpg');
    background-size: cover;
}

.bg-light-opacity-2{
    background-color: rgba(248,249,250,0.2);
}
.bg-danger-opacity-2{
    background-color: rgba(223,21,45,0.2);
}

.text-indent{
    text-indent: 50px; 
}

.text-key{
    border-left: 10px solid red;
    border-left-color: rgba(223,21,45);
}

.offering{
    background-image: url('https://images.unsplash.com/photo-1500820445460-10cff4030764?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=678d0cd7bde73d68e1bfedeb2a7cf33e&auto=format&fit=crop&w=831&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
.h-50 >img{
    height: 50vh;
}

.h-50 >img:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.img:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.h-45 > img{
    height: 45vh;
}

.text-semilight{
    color: #bdc3c7;
}

@media only screen and (max-width: 375px) {
	.display-3{
		font-size: 36px !important;
	}
    .display-2{
        font-size: 72px !important;
    }
    .text-key{
        font-size: 28px;
    }
    blockquote > h1{
        font-size: 24px;
    }
    blockquote > h2{
        font-size: 20px;
    }

    .small > h2{
        font-size: 20px;
    }
    .small > h1{
        font-size: 24px;
    }
    .small > h3{
        font-size: 20px;
    }
    .small > h4{
        font-size: 20px;
    }
    .sm-hide{
        display: none;
    }
}

.carousel-indicators{
    position: relative;
}
.testimonial{
    background-image: url('/assets/images/testimonial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.pt-10{
    padding-top: 10rem;
}