<div class="about bg-light" id="about">
	<div class="heading text-center">
		<div class="container">
		    <div class="row align-items-center h-60">
		        <div class="col-6 mx-auto">
		            <div >
		                <h1 class="text-muted">Learn More </h1>
		                <h1 class="display-3">ABOUT US</h1>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
<div class="bg-light text-dark text-center h-37">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="title pt-5">
					<h1>WHY CHOOSE US</h1>
					<h4 class="font-weight-light">We will transport your items anywhere in the country. Name it we'll deliver it</h4>
				</div>
				<div class="content text-muted pt-4">
					<h5>FAW CARGO SOLUTIONS is a trusted forwarding company with almost 100 thousand deliveries locally. We deliver items with 100% protection. Your items is guaranteed safe with us.  Whether its many miles, final mile, or somewhere in between we can provide the service that you need with the dependability you can count on.</h5>
				</div>
				<div class="pt-4 pb-5">
					<button class="btn btn-primary">CONTACT US</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-us h-100">
	<div class="container-fluid text-dark">
	 	<div class="row align-items-end h-100">
		    <div class="col-md-9 col-sm-12 bg-white down" >
			    <div class="about-content row justify-content-center">
			    	<div class="col-md-6 col-sm-12">
			    		<figure class="figure">
						  <img src="http://www.dhl.com/content/dam/DHL_Logistics/Global%20Forwarding/Small%20teasers_70x50/Shanghai2014%20cropped.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
						</figure>
			    	</div>
			    	<div class="col-md-6 col-sm-12">
			    		<div class="title">
			    			<h1>WHAT IS FAW CARGO SOLUTIONS</h1>
				    		<br>
			    		</div>
			    		<div class="content pr-2 text-muted font-weight-light">
				    		<h4>FAW Cargo Solutions, Inc. is an SEC Registered corporation which is envisioned as an integrated logistics company.</h4>
				    		<br>
				    		<h4>FAW is led by seasoned maritime professionals, whose background in management, service and operational span over 30 years in both international and domestic shipping companies.</h4>
			    		</div>
			    	</div>
			    </div>
		    </div>
	  	</div>
	</div>
</div>
<div class="h-23 bg-darkblue">
	<div class="container">
		<div class="row mr-0 ml-0 justify-content-center">
			<div class="row mr-0 ml-0 col-md-10 col-sm-12 pb-5">
				<div class="col-md-3 col-6 text-center text-white pt-5">
					<h1 class="display-4">5</h1>
					<h5>Fleets</h5>
				</div>
				<div class="col-md-3 col-6 text-center text-white pt-5">
					<h1 class="display-4">10</h1>
					<h5>Skilled Driver</h5>
				</div>
				<div class="col-md-3 col-6 text-center text-white pt-5">
					<h1 class="display-4">20K</h1>
					<h5>Deliveries per year</h5>
				</div>
				<div class="col-md-3 col-6 text-center text-white pt-5">
					<h1 class="display-4">10M</h1>
					<h5>Miles driven per year</h5>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="h-100 mission">
	<div class="row ml-0 mr-0 ">
		<div class="col-md-6 col-sm-12 h-100 bg-light-opacity-2 row ml-0 mr-0 justify-content-center align-items-center text-white">
			<div class="col-md-10 mx-auto text-center">
				<h1 class="display-4 text-weight-bold">Mission</h1>
				<h3 class="pt-4">" Our mission is to add value to your business success and growth with our personal and professional ability to WOW you, to meet your demands to move your products and good on time. "</h3>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 h-100 bg-danger-opacity-2 row ml-0 mr-0 justify-content-center align-items-center text-white">
			<div class="col-md-10 mx-auto ">
				<h1 class="display-4 text-center text-weight-bold">With FAW. You WOW!</h1>
				<h3 class="pt-4 text-justify text-indent">We consolidate, forward and deliver all your goods and services, to any major cities and municipalities to and from Luzon, Visayas and Mindanao.</h3>
				<h3 class="pt-2"> We are DEDICATED to serve our customers.</h3>
				<ul>
			      <li><h4>We are RELIABLE.</h4></li>
			      <li><h4>Our promise is to have an open and honest relationships with our customers. </h4></li>
			      <li><h4>We are COMMITTED to constantly improve.</h4></li>
			    </ul>
			</div>
		</div>
	</div>
</div>
<div class="h-100 offering">
	<div class="row ml-0 mr-0 align-items-end h-120">
		<div class="col-md-6 bg-transparent h-50 pl-0 pr-0">
			<div class="row h-15 ml-0 mr-0 text-center text-light">
				<div class="pl-5 pt-5 pb-5">
					<h1 class="pl-3 text-key text-center">Key Offerings</h1>
				</div>
			</div>
			<div class="h-15 row ml-0 mr-0">
				<div class="col-md-6 col-12 pr-0 pl-0 bg-dark">
					<img src="https://images.unsplash.com/photo-1504604437637-f0263a87a3e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d6d77013d62b80654937ddab7069e83&auto=format&fit=crop&w=750&q=80" class="pl-0 pr-0 col-md-12 col-12 img">
				</div>
				<div class="col-md-6 col-12 pr-0 pl-0 bg-dark">
					<img src="https://images.unsplash.com/photo-1476778642660-a2c55571cf0d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b00299af514df81a9243b6837952b0c&auto=format&fit=crop&w=750&q=80" class="pl-0 pr-0 col-md-12 col-12 img">
				</div>
			</div>
			<div class="h-50 row ml-0 mr-0 bg-dark">
				<img src="https://www.mckinsey.com/~/media/McKinsey/Business%20Functions/Strategy%20and%20Corporate%20Finance/Our%20Insights/The%20hidden%20opportunity%20in%20container%20shipping/IandP_The%20hidden%20opportunity%20in%20container%20shipping_1536x1536_Original.ashx?mw=1536&car=72:35&cq=50" class="pl-0 pr-0 col-md-12 col-12">
			</div>
		</div>
		<div class="col-md-6 col-12 h-110 bg-light pl-0">
			<div class="pt-5">
				<h1 class="pl-5 pr-5 text-key">WE OFFER QUICK & POWERFUL SOLUTION FOR TRANSPORT</h1>
			</div>
			<div class="pt-5 pb-5">
				<div class="pt-4 row mr-0 ml-0">
					<h1 class="col-md-2 col-3 display-2 text-danger"><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
					<div class="col-md-9 col-9 pt-2">
						<h1>Fast Deliveries</h1>
						<h3 class="text-muted">We can deliver your items fast.</h3>
					</div>
				</div>
				<div class="pt-4 row mr-0 ml-0">
					<h1 class="col-md-2 col-3 display-2 text-danger"><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
					<div class="col-md-9 col-9 pt-2">
						<h1>Top-notch Security</h1>
						<h3 class="text-muted">We can deliver your items with care.</h3>
					</div>
				</div>
				<div class="pt-4 row mr-0 ml-0">
					<h1 class="col-md-2 col-3 display-2 text-danger"><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
					<div class="col-md-9 col-9 pt-2">
						<h1>Best Prices</h1>
						<h3 class="text-muted">We offer services with low prices</h3>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="h-15 bg-dark text-white">
	<div class="pt-5 text-center">
		<h1>Our portfolio of individual and corporate clients</h1>
	</div>
	<div class="pt-5">
		<div class="row ml-0 mr-0 ">
			<div class="col-md-3 col-6 text-center pb-3">
				<div class="text-center"><h1 class="display-2"><i class="fa fa-cutlery" aria-hidden="true"></i></h1></div>
				<h2>Small Goods Company</h2>
			</div>
			<div class="col-md-3 col-6 text-center pb-3">
				<div class="text-center"><h1 class="display-2"><i class="fa fa-building-o" aria-hidden="true"></i></h1></div>
				<h2>Small Medium Enterprise</h2>
			</div>
			<div class="col-md-3 col-6 text-center pb-3">
				<div class="text-center"><h1 class="display-2"><i class="fa fa-plane" aria-hidden="true"></i></h1></div>
				<h2>Locators from export processing zones</h2>
			</div>
			<div class="col-md-3 col-6 text-center pb-3">
				<div class="text-center"><h1 class="display-2"><i class="fa fa-users" aria-hidden="true"></i></h1></div>
				<h2>Household of Overseas Filipino Workers</h2>
			</div>
		</div>
	</div>
</div>
<div class="h-100 testimonial text-white">
	<div class="pt-5 text-center">
		<h1 class="display-3 pt-5">Testimonials</h1>
	</div>
	<div class="row ml-0 mr-0 justify-content-center pt-5">
		<div class="col-md-10">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>
			  <div class="carousel-inner row ml-0 mr-0 justify-content-center">
				  	<div class="col-md-8 ">
					    <div class="carousel-item active">
					    	<blockquote class="blockquote text-center">
					    		<h1 class="font-italic">" FAW helped me a lot in moving our products and goods to Visayas and Mindanao. I have just started my SME. I trust FAW’s services to grow my business "</h1>
					    		<h2 class="font-italic text-semilight">- Mr. Edwin Chica. SME, Manila</h2>
							</blockquote>
					    </div>
					    <div class="carousel-item">
					    	<blockquote class="blockquote text-center">
					    		<h1 class="font-italic">" FAW helped me a lot in moving our products and goods to Visayas and Mindanao. I have just started my SME. I trust FAW’s services to grow my business "</h1>
					    		<h2 class="font-italic text-semilight">- Mr. Raul Dela Cruz, SME, Laguna</h2>
							</blockquote>
					    </div>
					    <div class="carousel-item">
					    	<blockquote class="blockquote text-center">
					    		<h1 class="font-italic">" FAW helped me a lot in moving our products and goods to Visayas and Mindanao. I have just started my SME. I trust FAW’s services to grow my business "</h1>
					    		<h2 class="font-italic text-semilight">- Mr. Raul Dela Cruz, SME, Laguna</h2>
							</blockquote>
					    </div>
				  	</div>
			  	</div>
			  	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
			  	</a>
			  	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
			    	<span class="sr-only">Next</span>
			  	</a>
			</div>
		</div>
	</div>
</div>
