<div class="about bg-light" id="about">
	<div class="heading text-center">
		<div class="container h-100">
		    <div class="row align-items-center h-60">
		        <div class="col-6 mx-auto">
		            <div >
		                <h1 class="text-muted">Learn More </h1>
		                <h1 class="display-3">ABOUT US</h1>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="clear bg-dark">
	</div>
	<div class="container-fluid text-dark">
	 	<div class="row justify-content-center">
		    <div class="col-10" >
			    <div class="about-content row justify-content-center">
			    	<div class="col-md-6 col-sm-12">
			    		<figure class="figure">
						  <img src="http://www.dhl.com/content/dam/DHL_Logistics/Global%20Forwarding/Small%20teasers_70x50/Shanghai2014%20cropped.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
						</figure>
			    	</div>
			    	<div class="col-md-6 col-sm-12">
			    		<h6>FAW Cargo Solutions, Inc. is an SEC Registered corporation which is envisioned as an integrated logistics company.</h6>
			    		<h6>FAW is led by seasoned maritime professionals, whose background in management, service and operational span over 30 years in both international and domestic shipping companies.</h6>
			    	</div>
			    </div>
		    </div>
	  	</div>
	</div>
</div>
<div class="feedback bg-danger text-white">
	<div class="container h-100">
		<div class="row h-60 align-items-center">
			<div class="col-md-3 col-sm-6 progressBar text-center mx-auto">
				<h5>Air Transport</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">25%</div>
	            </div>
			</div>
			<div class="col-md-3 col-sm-6 progressBar text-center mx-auto">
				<h5>Marine Transport</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">59%</div>
	            </div>
			</div>
			<div class="col-md-3 col-sm-6 progressBar  text-center mx-auto">
				<h5>Land Transport</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">75%</div>
	            </div>
			</div>
			<div class="col-md-3 col-sm-6 progressBar text-center mx-auto">
				<h5>Safety Escort</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">90%</div>
	            </div>
			</div>
		</div>
	</div>
</div>
