<div class="about bg-light" id="about">
	<div class="heading text-center">
		<div class="container h-100">
		    <div class="row align-items-center h-60">
		        <div class="col-6 mx-auto">
		            <div >
		                <h1 class="text-muted">Learn More </h1>
		                <h1 class="display-3">ABOUT US</h1>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="clear bg-dark">
	</div>
	<div class="container-fluid text-dark">
	 	<div class="row justify-content-center">
		    <div class="col-10" >
			    <div class="about-content row justify-content-center">
			    	<div class="col-md-6 col-sm-12">
			    		<figure class="figure">
						  <img src="http://www.dhl.com/content/dam/DHL_Logistics/Global%20Forwarding/Small%20teasers_70x50/Shanghai2014%20cropped.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
						</figure>
			    	</div>
			    	<div class="col-md-6 col-sm-12">
			    		<h6>FAW Cargo Solutions, Inc. is an SEC Registered corporation which is envisioned as an integrated logistics company.</h6>
			    		<h6>FAW is led by seasoned maritime professionals, whose background in management, service and operational span over 30 years in both international and domestic shipping companies.</h6>
			    	</div>
			    </div>
		    </div>
	  	</div>
	</div>
</div>
<div class="feedback bg-dark text-white">
	<div class="container h-100">
		<div class="row h-60 align-items-center">
			<div class="col-md-3 col-sm-6 progressBar text-center mx-auto">
				<h5>Air Transport</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">25%</div>
	            </div>
			</div>
			<div class="col-md-3 col-sm-6 progressBar text-center mx-auto">
				<h5>Marine Transport</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">59%</div>
	            </div>
			</div>
			<div class="col-md-3 col-sm-6 progressBar  text-center mx-auto">
				<h5>Land Transport</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">75%</div>
	            </div>
			</div>
			<div class="col-md-3 col-sm-6 progressBar text-center mx-auto">
				<h5>Safety Escort</h5>
				<div class="progress blue">
	                <span class="progress-left">
	                    <span class="progress-bar"></span>
	                </span>
	                <span class="progress-right">
	                    <span class="progress-bar"></span>
	                </span>
	                <div class="progress-value">90%</div>
	            </div>
			</div>
		</div>
	</div>
</div>
<div class="h-60 bg-danger">
	<div class="container">
		<div class="col-md-12 col-sm-12 text-dark row mr-0 ml-0 pb-5">
			<div class="col-md-12 text-center pt-4 text-white">
				<h1>Key Offerings</h1>
			</div>
			<div class="col-md-4 col-sm-12 pt-5">
				<div class="card">
				  	<img class="card-img-top" src="assets/images/parcel.jpeg" height="276" alt="Card image cap">
				  	<div class="card-body">
				    	<h1>Parcel</h1>
				  	</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 pt-5">
			  	<div class="card bg-dark text-white">
				  	<img class="card-img-top" src="assets/images/big-package.jpg" height="276" alt="Card image cap">
				  	<div class="card-body">
				    	<h1>Big Package</h1>
				  	</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 pt-5">
			  	<div class="card">
				  	<img class="card-img-top" src="assets/images/container.jpg" height="276" alt="Card image cap">
				  	<div class="card-body">
				    	<h1>Containerized</h1>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-secondary">
	<div class="col-md-12 text-center pt-5 text-white">
		<h1>Our Testimonials</h1>
	</div>
	<div class="pt-5 pb-5">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <div class="col-md-12 row mr-0 ml-0 justify-content-center">
		      	<div class="col-md-3">
		      		<div class="card">
					  <div class="card-header">
					    Testimonial
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					    </blockquote>
					  </div>
					</div>
		      	</div>
		      	<div class="col-md-3">
		      		<div class="card">
					  <div class="card-header">
					    Testimonial
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					    </blockquote>
					  </div>
					</div>
		      	</div>
		      	<div class="col-md-3">
		      		<div class="card">
					  <div class="card-header">
					    Testimonial
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					    </blockquote>
					  </div>
					</div>
		      	</div>
		      </div>
		    </div>
		    <div class="carousel-item">
		      <div class="col-md-12 row mr-0 ml-0 justify-content-center">
		      	<div class="col-md-3">
		      		<div class="card">
					  <div class="card-header">
					    Testimonial
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					    </blockquote>
					  </div>
					</div>
		      	</div>
		      	<div class="col-md-3">
		      		<div class="card">
					  <div class="card-header">
					    Testimonial
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					    </blockquote>
					  </div>
					</div>
		      	</div>
		      	<div class="col-md-3">
		      		<div class="card">
					  <div class="card-header">
					    Testimonial
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					    </blockquote>
					  </div>
					</div>
		      	</div>
		      </div>
		    </div>

		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		
	</div>
</div>
