<div class="jumbotron">
	<div class="row justify-content-center">
		<div class="col-md-12 col-sm-12 os-animation justify-content-center title" data-os-animation="bounceInUp" data-os-animation-delay="0s">
			<p class="text1">Dependable. Flexible. Efficient</p>
		  	<p class="text2">FAW CARGO SOLUTIONS, INC.</p>
		  	<p class="text3">From coast-to-coast, Cargo Solutions, Inc. has a strong reputation in the trade show industry as exhibit transport specialists, providing the critical link in your chain of events when timing and accuracy matter most.</p>
			<p class="lead">
		  		<a href="home#about" class="btn btn-lg btn-danger">CONTINUE TO OUR SITE</a>
		  	</p>
		</div>
	</div>
</div>
<div class="about" id="about">
	<div class="heading text-center">
		<h1 class="display-4">ABOUT US</h1>
	</div>
</div>