<div class="jumbotron row align-items-center">
	<div class="col-md-12 col-sm-12 title">
		<p class="text1">DEDICATED. RELIABLE. COMMITED</p>
	  	<p class="text2">FAW CARGO SOLUTIONS, INC.</p>
	  	<p class="text3 col align-self-center" >
	  		24/7 we move your small to big packages. From parcels to containerized goods and products, anywhere in the Philippines.
	  	</p>
	  	<p class="text3 mt-0">Experience WOW with FAW!</p>
		<p class="lead">
	  		<button routerLink="/about" class="btn btn-lg">CONTINUE TO OUR SITE</button>
	  	</p>
	</div>
</div>
		<!-- <div class="col-md-12 col-sm-12 os-animation justify-content-center title" data-os-animation="bounceInUp" data-os-animation-delay="0s"> -->