
.jumbotron{
	min-height: calc(100vh - 70px);
	background-image: url('/assets/images/bg_cargo.jpg');
	background-size: cover;
	color: white;
	background-repeat: no-repeat;
	border-radius: 0px;
	margin: 0px !important;
}

.about, .feedback{
	min-height: 100vh;
}
.feedback{
	/*background-color: rgb(240,240,240);*/
	
}

.btn-lg{
	padding: 20px;
}
.lead{
	margin-top: 5%;
}

.title{
	margin: 0 auto;
}
.title p{
	text-align: center;
}
.title .text1{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	color: #eaf2f6;
}
.title .text2{
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 7.2px;
	font-weight: 700;
	line-height: 60px;
	margin-top: 30px;
}
.title .text3{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.32px;
	line-height: 30px;
	margin-top: 46px;
}

.about{
	color: white;
}
.heading {
	padding-top: 5%;
}

.about-content{
	padding-top: 5%;
}

.progressBar{
	padding: 10px 0px;
}