<div class="jumbotron">
	<div class="row justify-content-center">
		<div class="col-md-12 col-sm-12 justify-content-center title" >
			<p class="text1">DEDICATED. RELIABLE. COMMITED</p>
		  	<p class="text2">FAW CARGO SOLUTIONS, INC.</p>
		  	<p class="text3">24/7 we move your small to big packages. From parcels to containerized goods and products, anywhere in the Philippines. Experience <b>WOW with FAW!</b></p>
			<p class="lead">
		  		<button routerLink="/about" class="btn btn-lg btn-danger">CONTINUE TO OUR SITE</button>
		  	</p>
		</div>
	</div>
</div>
		<!-- <div class="col-md-12 col-sm-12 os-animation justify-content-center title" data-os-animation="bounceInUp" data-os-animation-delay="0s"> -->