.heading {
	background-image: url('/assets/images/contact_us.jpg');
	min-height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.hind{

	font-family: 'Hind',sans-serif;
}

.h-60{
	min-height: 60vh;
}

agm-map{
	height: 480px;
}

.contact{
	background-image: url('/assets/images/contact_form.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 75vh;
}

.bg-secondary{
	background-color: #D6D8D9 !important;
}

.line{
	height: 5px;
	border-radius: 2px;
}

.bg-transparent-white{
	background-color: rgba(0,0,0,0.5);
}

@media only screen and (max-width: 375px) {
	.display-3{
		font-size: 36px !important;
	}

	.sm-hide{
		display: none;
	}
}
