<div class="heading">
    <div class="text-center text-white">
        <div class="container">
            <div class="row align-items-center h-60 justify-content-center">
                <div class="col-1 bg-white line"></div>
                <div class="col-lg-6 col-8">
                    <h1 class="text-muted hind sm-hide">Browse Our</h1>
                    <h1 class="display-3 mb-0 pb-0 hind">Gallery</h1>
                </div>
                <div class="col-1 bg-white line" ></div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center bg-light">
    <div class="col-md-11 pt-5 pb-5 row ml-0 mr-0">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-12 pb-2">
                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-12 pb-2">
                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-12 pb-2">
                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-12 pb-2">
                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-12 pb-2">
                <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-12 pb-2">
                <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
            </a>
    </div>
</div>